.button {
  display: inline-block;
  margin: 25px 0 0 0;
  border-radius: 0;
  border: 1px solid #5094f2;
  font-size: 20px;
  padding: 5px 0;
  padding-right: 11px;
  outline: none;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  outline: none;
}

.button-primary {
  color: inherit;
  background-color: #5094f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.button-primary:hover {
  color: #5094f2;
  background-color: transparent;
  border-color: none;
}
.button-danger {
  color: #ffffff;
  background-color: red;
}

.button-danger:hover {
  color: red;
  background-color: #ffffff;
  border-color: red;
}

.button-large {
  padding: 22px 64px;
}

.button-medium {
  padding: 12px 24px;
}

.button-full {
  width: 100%;
}
@media (min-width: 480px) {
}
@media (min-width: 640px) {
  .button {
    font-size: 31px;
    line-height: 35px;
    margin-top: 33px !important;
  }
}
@media (min-width: 960px) {
  .button {
    font-size: 26px;
    line-height: 35px;
  }
}
@media (min-width: 1200px) {
  .button {
    margin: 18px 0 0 12px;
    font-size: 22px;
    border-radius: 2px;
  }
}
